{% extends 'base.html.twig' %}

{% block title %}Login page{% endblock %}

{% block body %}

<div class="container bg-info text-white">

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <br>
    {% if app.user %}
        <div class="bg-warning mb-3">
            You are logged in as <strong>{{ app.user.username }} </strong> ... <a href="{{ path('app_logout') }}">log out?</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputFirstName">First Name</label>
    <input type="text" value="{{ last_username }}" name="FirstName" id="inputFirstName" class="form-control" required autofocus>
    <br>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <br>
    <button class="btn btn-lg btn-light mt-1 mb-1" type="submit">
        Sign in
    </button>

    <br><br>

</form>

</div>
{% endblock %}
