{% extends 'base.html.twig' %}

{% block title %}Tickets index{% endblock %}

{% block body %}

    <div class="container bg-info text-white">
        <h1>Tickets index</h1>
        {% for message in app.flashes('alert') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('forSecondLine') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('forFirstLine') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}


        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Ticket Status</th>
                <th>Ticket Priority</th>
                <th>Ticket Content</th>
                <th>Created by :</th>
                <th>Assigned to :</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.ticketStatus }}</td>
                    <td>{{ ticket.ticketPriority }}</td>
                    <td>{{ ticket.content }}</td>
                    <td>{{ ticket.createdBy.firstName }} {{ ticket.createdBy.lastName }}</td>
                    <td>{% if  ticket.assignedTo is not null %}{{ ticket.assignedTo.firstName }} {{ ticket.assignedTo.lastName }}{% endif %}</td>
                    <td>
                        <a href="{{ path('tickets_show', {'id': ticket.id}) }}">Show</a>
                        <a href="{{ path('agent_edit', {'id': ticket.id}) }}">Edit</a>
                        <a href="{{ path('agent_assign', {'id': ticket.id}) }}">Assign</a>
                        {% if is_granted('ROLE_AGENT_ONE') %}
                            <a href="{{ path('agent_second_line', {'id': ticket.id}) }}">Second line</a>
                        {% endif %}
                        <a href="{{ path('agent_close', {'id': ticket.id}) }}">Close</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-center p-4">
            {% if is_granted('ROLE_MANAGER') %}
                <a href="{{ path('open_all')}}" type="button" class="btn btn-primary m-2">Reopen all the tickets</a>
                <a href="{{ path('user_index')}}" type="button" class="btn btn-primary m-2">Back to dashboard</a>
            {% endif %}

        </div>
    </div>
{% endblock %}
