{% extends 'base.html.twig' %}

{% block title %}Manager index{% endblock %}

{% block body %}

    <div class="container bg-info text-white">
        <h1>Manager index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>Roles</th>
                <th>Password</th>
                <th>LastName</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.FirstName }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.LastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('user_new') }}">Create new</a>

        <div class="example-wrapper">
            <h1>Dashboard</h1>

            <table style="width:100%">
                <tr>
                    <th>Open tickets</th>
                    <th>Close tickets</th>
                    <th>Reopen tickets</th>
                    <a class="btn btn-primary" name="submit" type="submit" href="{{ path('agent_index') }}">Go to
                        tickets </a>
                </tr>
            </table>
            <table style="width:70%">
                <tr>
                    <th><H2>{{ dashboardTotalOpenTickets }}</H2></th>
                    <th><H2>{{ dashboardTotalClosedTickets }}</H2></th>
                </tr>
            </table>


        </div>
    </div>
{% endblock %}
